.root {
  @apply z-50 transition-transform fixed flex items-center justify-center w-screen h-screen;
}

.label {
  @apply z-50 transition-transform px-8 py-6 font-medium text-4xl font-mono border-solid animate-pulse justify-center;
  border-width: 6px;
  color: red;
  background-color: rgba(50, 0, 0, 0.5);
  border-color: red;
  transition-duration: 2.5s;
}

.granted {
  color: #73f54c;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: #73f54c;
  transform: translateY(-330px);
}
