.root {
  @apply relative w-full flex items-center gap-9;
  padding: 2.5rem;
  font-size: 27px;
  font-weight: 300;
}

.imageTile {
  @apply rounded-xl overflow-hidden relative;
  width: 70px;
  height: 70px;
}
