.root {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: color, background-color, opacity;
  @apply text-accent-9 flex items-center
  justify-center font-semibold cursor-pointer
  bg-accent-0 text-xl;
}

.root:focus {
  @apply outline-none;
}

.icon {
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: transform, fill;
  color: currentColor;
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.icon.loading {
  fill: var(--pink-light);
}

.icon.inCart {
  fill: var(--pink);
}
