.root {
  @apply sticky top-0 z-40 transition-all duration-150 py-14 px-36;
  min-height: 200px;
  font-size: 27px;
  font-weight: 300;
}

.nav {
  @apply relative flex flex-row justify-between pt-7;
}

.navMenu {
  @apply hidden space-x-14 lg:block whitespace-nowrap text-ellipsis;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer;
  color: rgba(255, 255, 255, 0.5);
}

.link:hover {
  @apply text-accent-9;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
